.cards {
    display: grid;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1.5rem;

    &__header {
        font-weight: 700;
        font-size: 4rem;

        &-wrap {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__footer {
        display: flex;
    }

    &-wrap {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &__location {
        display: flex;
    }

    &__btn {
        font-weight: 400;
        font-size: 2rem;
    }

    &__btns {
        display: flex;
        justify-content: center;
    }

    @media (max-width: 48em) {
        &__header {
            font-size: 3rem;
        }

        &-wrap {
            gap: 2rem;
        }
    }
}