.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 10rem 0;

    @media (max-width: 48em) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24rem;
    width: 29rem;
    position: relative;
    background-image: linear-gradient(135deg, #e8f0ff 0%, #c8d1ea 100%);
    border-radius: 1rem;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: contain;
        mix-blend-mode: color-burn;
        z-index: 1;
        pointer-events: none;
    }

    &[data-bg-icon="icon-1.png"]::before {
        background-image: url('../assets/icons/background-card/icon-1.png');
    }

    &[data-bg-icon="icon-2.png"]::before {
        background-image: url('../assets/icons/background-card/icon-2.png');
    }

    &[data-bg-icon="icon-3.png"]::before {
        background-image: url('../assets/icons/background-card/icon-3.png');
    }

    &[data-bg-icon="icon-4.png"]::before {
        background-image: url('../assets/icons/background-card/icon-4.png');
    }

    &[data-bg-icon="icon-5.png"]::before {
        background-image: url('../assets/icons/background-card/icon-5.png');
    }

    &[data-bg-icon="icon-6.png"]::before {
        background-image: url('../assets/icons/background-card/icon-6.png');
    }

    &__text {
        font-weight: 700;
        font-size: 2.6rem;
        padding: 3rem;
    }


    &__svg {
        overflow: visible;
        padding: 3rem 0 0 3rem;
        stroke: $main;
        fill: $main;
        width: 3.3rem;
        height: 3.3rem;
    }

    @media(hover: hover) {
        &:hover {
            background: $main;
            transition: all 0.5s ease;

            .card__svg {
                stroke: $white;
                fill: $white;
                transition: all 0.5s ease;
            }

            &::before {
                mix-blend-mode: overlay;
            }

            p {
                color: $white;
                transition: all 0.5s ease;
            }
        }
    }


    @media (max-width: 48em) {
        width: 21.5rem;
        height: 21.5rem;
        &__text{
            font-size: 2rem;
            padding: 1.5rem;
        }

        &__svg{
            padding: 1.5rem 0 0 1.5rem;
        }
    }
}