.footer {
    .container { 
        width: 100%;
        background-color: $dark;
        padding: 0;
    }

    &__info {
        padding: 5.1rem 12rem;
        text-align: center;
        font-weight: 500;
        font-size: 2rem;
    }

    &__text {
        color: $non-active;
    }

    @media (max-width: 48em) {
        &__info {
            padding: 3.7rem 1.5rem;
            font-size: 1.6rem;
        }
    }
}