.footer {
    .container {
        height: 15.3rem;
    }

    &__info {
        color: $white;
        padding: 5.5rem 30rem;
        text-align: center;
        font-weight: 500;
        font-size: 1.6rem;
        opacity: 0.5;
    }
}