html {
  font-size: 0.694444444vw;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $dark;
}

p {
  margin: 0;
  color: $dark;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.required-star {
  color: $main;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;

  &--main {
    background-color: $main;
    color: $white;
  }

  &--gray {
    background-color: $gray;
    color: $dark;
  }

  &--dark-gray{
    background-color: $dark-gray;
    color: $white;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 2.00833333vw;
  }
}