.header {
    width: 12rem;
    height: 75rem;
    position: absolute;

    &__nav {
        height: 100%;

        &-list {
            background-color: $dark;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 0;
            align-items: center;
            position: relative;
            z-index: 11;
        }
    }

    &__input {
        &-wrap {
            position: relative;
        }
    }

    &__content {
        position: absolute;
        left: -61rem;
        width: 49rem;
        height: 75rem;
        top: 0;
        background-color: $dark;
        transition: all 0.5s ease-in-out;

        &-feed {
            z-index: 1;
        }

        &-list{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-picture {
            width: 11rem;
            height: 11rem;
            border-radius: 50%;
            margin-bottom: 2rem;
            overflow: hidden;
        }

        &-id {
            font-weight: 400;
            font-size: 2rem;
            color: $gray;
            padding-top: 2rem;
        }

        &-surname {
            font-weight: 700;
            font-size: 2.6rem;
            color: $gray;
        }

        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-name {
            font-weight: 400;
            font-size: 2.6rem;
            color: $gray;
        }

        &.active {
            left: 12rem;
        }

        &-text {
            &--big {
                font-weight: 700;
                font-size: 2rem;
                text-transform: uppercase;
            }

            &--small {
                font-weight: 400;
                font-size: 2rem;
            }

            &--tiny {
                font-weight: 400;
                font-size: 1.6rem;
            }
        }

        &-btn {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
            padding-top: 1rem;

            .btn--dark-gray{
                margin-top: 2rem;
            }

            &--small {
                width: 15.3rem;
                height: 6.4rem;
            }

            &--highlight {
                color: $gray;
                text-decoration: underline;
                text-decoration-style: dashed;
                text-underline-offset: 0.3rem;
                text-decoration-color: $main;
            }

            &--big {
                width: 20.7rem;
                height: 6.4rem;
            }
        }

        &-title {
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $gray;
            padding-bottom: 1rem;
        }

        &-arrow {
            position: absolute;
            right: 2rem;
            top: 50%;
            transform: translateY(-50%);
            width: 1rem;
            height: 0.6rem;
            pointer-events: none;

            &::before {
                content: "";
                position: absolute;
                width: 0.6rem;
                height: 0.6rem;
                border-left: 2px solid $main;
                border-bottom: 2px solid $main;
                transform: translateY(-25%) rotate(-45deg);
                transition: transform 0.3s ease;
            }

            &.active {
                &::before {
                    transform: rotate(45deg) rotate3d(1, 0, 0, 180deg);
                }
            }
        }

        &-form {
            border: .1rem solid $main;
            border-radius: 1.1rem;
            width: 100%;
            height: 5rem;
            background-color: $dark;
            box-sizing: border-box;
            position: relative;
            font-weight: 400;
            font-size: 1.6rem;
            color: $gray;
            padding-left: 2rem;


            &:focus {
                outline: none;
            }

            &::placeholder {
                color: $non-active;
                font-weight: 400;
                font-size: 1.6rem;
                padding-left: 2rem;
            }
        }

        &-field {
            display: flex;
            flex-direction: column;
            position: relative;
        }

        &-label {
            color: $gray;
            font-size: 2rem;
            font-weight: 400;
            padding-bottom: 1rem;
        }

        &-wrap {
            padding: 3.5rem 2.5rem;
            display: flex;
            justify-content: space-between;
        }


        &-menu {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 3.5rem 4rem 8rem 4rem;
        }


        &-link {
            color: $gray;
            font-weight: 400;
            font-size: 2rem;
            transition: all 0.3s ease;
        }



        &-close {
            cursor: pointer;
            position: absolute;
            right: 4rem;
            top: 3.5rem;
            height: 2.5rem;
            width: 2.5rem;
            fill: $gray;
            transition: all 0.3s ease;
        }
    }

    &__dropdown {
        max-height: 41rem;
        position: absolute;
        width: 100%;
        border: .1rem solid $main;
        border-radius: 1.1rem;
        display: none;
        top: calc(100% - 5rem);
        box-sizing: border-box;
        padding-top: 5rem;


        &.show {
            display: block;
        }

        &-list {
            overflow-y: auto;
            max-height: 31rem;
            background: $dark;
            color: white;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 2rem 3.5rem 2rem 2rem;
            border-radius: 1.1rem;

            &::-webkit-scrollbar {
                width: .6rem;
                padding-top: 2rem;
            }

            &::-webkit-scrollbar-track {
                background: $non-active;
                border-radius: 1.1rem;
                margin: 2rem 0;
            }

            &::-webkit-scrollbar-thumb {
                background: $gray;
                border-radius: 1.1rem;
            }

            &::-webkit-scrollbar-button {
                display: none;
            }
        }

        &-item {
            font-weight: 400;
            font-size: 1.6rem;
            color: $gray;
        }

        &-link {
            font-weight: 400;
            font-size: 1.6rem;
            color: $gray;
        }
    }

    &__item {

        &-btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            fill: $gray;
            transition: all 0.3s ease;
            cursor: pointer;

            p {
                transition: all 0.3s ease;
            }

            &.active {
                fill: $main;

                p {
                    color: $main;
                }
            }
        }

        &-text {
            color: $gray;
            font-weight: 700;
            font-size: 1.2rem;
        }

        &:nth-child(2) {
            padding-top: 2rem;
        }

        &:nth-child(3) {
            padding-top: 16rem;
        }

        &:nth-child(4) {
            padding-top: 3rem;
        }

        &:nth-child(5) {
            padding-top: 16rem;
        }
    }


    &__list {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    &__svg {
        width: 5rem;
        height: 5rem;
    }

    &__lang {
        &-link {
            color: $non-active;
            font-weight: 700;
            font-size: 1.2rem;
        }

        &-switch {
            padding-top: 4rem;
            display: flex;
            justify-content: center;
            gap: 1rem;

            .active {
                color: $white;
            }
        }
    }

    @media(hover: hover) {
        &__item {

            &-btn {
                &:hover {
                    fill: $main;

                    p {
                        color: $main;
                    }
                }
            }
        }

        &__content {

            &-close {
                &:hover {
                    fill: $main;
                }
            }

            &-link {
                &:hover {
                    color: $main;
                }
            }
        }
    }

    @media (max-width: 48em) {
        width: 100%;
        height: 16rem;

        &__content {
            width: 100%;
            height: auto;
            left: 0rem;
            top: 0;
            transform: translateY(-100%);

            &.active {
                transform: translateY(16rem);
                left: 0;
            }

            &-close{
                display: none;
            }

            &-title{
                text-align: center;
            }
        }

        &__lang {
            &-switch {
                width: 100%;
                background-color: #1f1f1f;
                gap: 8rem;
                padding: 1.8rem 0;

                flex: 0 0 100%;
            }

            &-link {
                font-size: 2rem;
            }
        }

        &__nav {
            &-list {
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: flex-start;
            }
        }

        &__item {
            flex: 1 0 auto;
            display: flex;
            justify-content: center;


            &-text {
                display: none;
            }

            &:nth-child(1) {
                padding-top: 0;
            }

            &:nth-child(2) {
                padding-top: 0;
            }

            &:nth-child(3) {
                padding-top: 0;
            }

            &:nth-child(4) {
                padding-top: 0;
            }

            &:nth-child(5) {
                padding-top: 0;
            }
        }
    }
}