.menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;

    &__svg {
        fill: $gray;
        width: 5rem;
        height: 5rem;
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__text {
        color: $gray;
        font-weight: 700;
        font-size: 1.2rem;
    }

    &__item {
        &--lang {
            padding-top: 4rem;
        }

        &--rating {
            padding-top: 3rem;
        }

        &--search {
            padding-top: 16rem;
        }

        &--menu {
            padding-top: 2rem;
        }

        &--login {
            padding-top: 16rem;
        }
    }

    &__lang {
        &-link {
            color: $non-active;
            font-weight: 700;
            font-size: 1.2rem;
        }

        &-switch {
            display: flex;
            gap: 1rem;
            .active {
                color: $white;
            }
        }
    }
}