.pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;

    &-selector {
        display: flex;
        align-items: center;
    }

    &-wrap {
        padding: 0 3.7rem;
        border-radius: 1.5rem;
        background-color: $pagination-background;
        display: flex;
        gap: 5.35rem;
        align-items: center;
        height: 6rem;
    }

    &-list {
        display: flex;
        gap: 6rem;
    }

    &-item {
        font-weight: 700;
        font-size: 2.6rem;

        &.active {
            color: $main;
        }
    }

    &-arrow {
        width: 2.4rem;
        height: 2.4rem;
        stroke: $dark;

        &.active {
            stroke: $main;
        }
    }
}

.selector {
    &__label {
        font-weight: 400;
        font-size: 2.6rem;
        padding-right: 2rem;
    }

    &__value {
        font-weight: 700;
        font-size: 2.6rem;
        transition: color 0.3s ease-in-out;
    }

    &-wrap {
        position: relative;
        width: 18rem;
        z-index: 10;
        cursor: pointer;

        &.open {
            .selector__box {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                transition: border-radius 0s ease;
            }

            .selector__value {
                color: $main;
            }

            .selector__arrow {
                transform: rotate(180deg);
            }

            .selector__dropdown {
                max-height: 35rem;
                border-width: .2rem;
            }
        }
    }

    &__box {
        padding: 1.2rem 2rem;
        border: .2rem solid $gray;
        border-radius: 1.5rem;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        transition: border-radius 0.4s ease 0.3s;
    }

    &__arrow {
        width: 0;
        height: 0;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-top: 1.5rem solid $main;
        transition: transform 0.3s ease-in-out;
    }

    &__dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: $white;
        border-radius: 0 0 1.5rem 1.5rem;
        margin-top: -.2rem;
        border: 0 solid $gray;
        border-top: none;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
            border-width 0.2s ease-out;

        &-button {
            font-weight: 700;
            font-size: 2.6rem;
            cursor: pointer;
            transition: color 0.3s ease-in-out;
            padding: .2rem;
        }

        &-item {
            padding-left: 2rem;
        }

        &-list {
            max-height: 34rem;
            overflow-y: auto;
            display: flex;
            gap: .6rem;
            flex-direction: column;
            padding-bottom: 1rem;

            &::-webkit-scrollbar {
                width: 1rem;
            }

            &::-webkit-scrollbar-track {
                background: $gray;
                border-radius: 1.5rem;
                margin-bottom: 1.4rem;
            }

            &::-webkit-scrollbar-thumb {
                background: $main;
                border-radius: 1.5rem;
                cursor: pointer;
                transition: background 0.3s ease-in-out;

                &:active {
                    background: $main-hover;
                }
            }
        }
    }

    @media (hover: hover) {
        &__dropdown {
            &-button:hover {
                color: $main;
            }

            &-list {
                &::-webkit-scrollbar-thumb {
                    &:hover {
                        background: $main-hover;
                    }
                }
            }
        }

        &__arrow {
            &:hover {
                border-top: 1.5rem solid $main-hover;
            }
        }
    }

    @media (max-width: 48em) {
        &__label {
            padding-right: 0;
            font-size: 2rem;
        }
        &-wrap {
            width: 21.5rem;
        }
    }
}