$white: #FFF
$dark: #282828
$main: #ee5656
$main-hover: #fd5f5f
$gray: #d8e0f5
$gray-hover: #e2eaff
$non-active: #616571
$dark-gray: #3c3d41
$dark-gray-hover: #484b53
$pagination-background: #ecf1fb

$transition: 0.5s ease