@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/Golos-Text/GolosText-Medium.eot");
  src: local("Golos Text Medium"), local("GolosText-Medium"), url("../fonts/Golos-Text/GolosText-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Golos-Text/GolosText-Medium.woff2") format("woff2"), url("../fonts/Golos-Text/GolosText-Medium.woff") format("woff"), url("../fonts/Golos-Text/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/Golos-Text/GolosText-Black.eot");
  src: local("Golos Text Black"), local("GolosText-Black"), url("../fonts/Golos-Text/GolosText-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Golos-Text/GolosText-Black.woff2") format("woff2"), url("../fonts/Golos-Text/GolosText-Black.woff") format("woff"), url("../fonts/Golos-Text/GolosText-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/Golos-Text/GolosText-DemiBold.eot");
  src: local("Golos Text DemiBold"), local("GolosText-DemiBold"), url("../fonts/Golos-Text/GolosText-DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Golos-Text/GolosText-DemiBold.woff2") format("woff2"), url("../fonts/Golos-Text/GolosText-DemiBold.woff") format("woff"), url("../fonts/Golos-Text/GolosText-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/Golos-Text/GolosText-Bold.eot");
  src: local("Golos Text Bold"), local("GolosText-Bold"), url("../fonts/Golos-Text/GolosText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Golos-Text/GolosText-Bold.woff2") format("woff2"), url("../fonts/Golos-Text/GolosText-Bold.woff") format("woff"), url("../fonts/Golos-Text/GolosText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/Golos-Text/GolosText-Regular.eot");
  src: local("Golos Text Regular"), local("GolosText-Regular"), url("../fonts/Golos-Text/GolosText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Golos-Text/GolosText-Regular.woff2") format("woff2"), url("../fonts/Golos-Text/GolosText-Regular.woff") format("woff"), url("../fonts/Golos-Text/GolosText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 0.694444444vw;
  font-family: "Golos", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #282828;
}

p {
  margin: 0;
  color: #282828;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 120rem;
  margin: 0 auto;
  padding: 10rem 0 10rem 0;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.menu-layer {
  z-index: 10;
}

.required-star {
  color: #ee5656;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 48em) {
  html {
    font-size: 2.00833333vw;
  }
  .no-scroll {
    overflow: scroll;
  }
  .container {
    width: 45rem;
  }
}
.header {
  width: 12rem;
  height: 75rem;
  position: absolute;
}
.header__nav {
  height: 100%;
}
.header__nav-list {
  background-color: #282828;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  position: relative;
  z-index: 11;
}
.header__input-wrap {
  position: relative;
}
.header__content {
  position: absolute;
  left: -61rem;
  width: 49rem;
  height: 75rem;
  top: 0;
  background-color: #282828;
  transition: transform 0.5s ease-in-out, left 0.5s ease-in-out;
}
.header__content-feed {
  z-index: 1;
}
.header__content-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.header__content-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__content-picture {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  overflow: hidden;
}
.header__content-id {
  font-weight: 400;
  font-size: 2rem;
  color: #d8e0f5;
  padding-top: 2rem;
}
.header__content-surname {
  font-weight: 700;
  font-size: 2.6rem;
  color: #d8e0f5;
}
.header__content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__content-name {
  font-weight: 400;
  font-size: 2.6rem;
  color: #d8e0f5;
}
.header__content.active {
  left: 12rem;
}
.header__content-text--big {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}
.header__content-text--small {
  font-weight: 400;
  font-size: 2rem;
}
.header__content-text--tiny {
  font-weight: 400;
  font-size: 1.6rem;
}
.header__content-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
}
.header__content-btn .btn--dark-gray {
  margin-top: 2rem;
}
.header__content-btn--small {
  width: 15.3rem;
  height: 6.4rem;
}
.header__content-btn--highlight {
  color: #d8e0f5;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.3rem;
  text-decoration-color: #ee5656;
}
.header__content-btn--big {
  width: 20.7rem;
  height: 6.4rem;
}
.header__content-title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #d8e0f5;
  padding-bottom: 1rem;
}
.header__content-arrow {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 0.6rem;
  pointer-events: none;
}
.header__content-arrow::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  border-left: 2px solid #ee5656;
  border-bottom: 2px solid #ee5656;
  transform: translateY(-25%) rotate(-45deg);
  transition: transform 0.3s ease;
}
.header__content-arrow.active::before {
  transform: rotate(45deg) rotate3d(1, 0, 0, 180deg);
}
.header__content-form {
  border: 0.1rem solid #ee5656;
  border-radius: 1.1rem;
  width: 100%;
  height: 5rem;
  background-color: #282828;
  box-sizing: border-box;
  position: relative;
  font-weight: 400;
  font-size: 1.6rem;
  color: #d8e0f5;
  padding-left: 2rem;
}
.header__content-form:focus {
  outline: none;
}
.header__content-form::-moz-placeholder {
  color: #616571;
  font-weight: 400;
  font-size: 1.6rem;
  padding-left: 2rem;
}
.header__content-form::placeholder {
  color: #616571;
  font-weight: 400;
  font-size: 1.6rem;
  padding-left: 2rem;
}
.header__content-field {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header__content-label {
  color: #d8e0f5;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.header__content-wrap {
  padding: 3.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
}
.header__content-menu {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3.5rem 4rem 8rem 4rem;
}
.header__content-link {
  color: #d8e0f5;
  font-weight: 400;
  font-size: 2rem;
  transition: color 0.3s ease;
}
.header__content-close {
  cursor: pointer;
  position: absolute;
  right: 4rem;
  top: 3.5rem;
  height: 2.5rem;
  width: 2.5rem;
  fill: #d8e0f5;
  transition: fill 0.3s ease;
}
.header__dropdown {
  max-height: 41rem;
  position: absolute;
  width: 100%;
  border: 0.1rem solid #ee5656;
  border-radius: 1.1rem;
  display: none;
  top: calc(100% - 5rem);
  box-sizing: border-box;
  padding-top: 5rem;
}
.header__dropdown.show {
  display: block;
}
.header__dropdown-list {
  overflow-y: auto;
  max-height: 31rem;
  background: #282828;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3.5rem 2rem 2rem;
  border-radius: 1.1rem;
}
.header__dropdown-list::-webkit-scrollbar {
  width: 0.6rem;
  padding-top: 2rem;
}
.header__dropdown-list::-webkit-scrollbar-track {
  background: #616571;
  border-radius: 1.1rem;
  margin: 2rem 0;
}
.header__dropdown-list::-webkit-scrollbar-thumb {
  background: #d8e0f5;
  border-radius: 1.1rem;
}
.header__dropdown-list::-webkit-scrollbar-button {
  display: none;
}
.header__dropdown-item {
  font-weight: 400;
  font-size: 1.6rem;
  color: #d8e0f5;
}
.header__dropdown-link {
  font-weight: 400;
  font-size: 1.6rem;
  color: #d8e0f5;
}
.header__item-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  fill: #d8e0f5;
  transition: fill 0.3s ease;
  cursor: pointer;
}
.header__item-btn p {
  transition: color 0.3s ease;
}
.header__item-btn.active {
  fill: #ee5656;
}
.header__item-btn.active p {
  color: #ee5656;
}
.header__item-text {
  color: #d8e0f5;
  font-weight: 700;
  font-size: 1.2rem;
}
.header__item:nth-child(2) {
  padding-top: 2rem;
}
.header__item:nth-child(3) {
  padding-top: 16rem;
}
.header__item:nth-child(4) {
  padding-top: 3rem;
}
.header__item:nth-child(5) {
  padding-top: 16rem;
}
.header__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}
.header__svg {
  width: 5rem;
  height: 5rem;
}
.header__lang-link {
  color: #616571;
  font-weight: 700;
  font-size: 1.2rem;
}
.header__lang-switch {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.header__lang-switch .active {
  color: #FFF;
}
@media (hover: hover) {
  .header__item-btn:hover {
    fill: #ee5656;
  }
  .header__item-btn:hover p {
    color: #ee5656;
  }
  .header__content-close:hover {
    fill: #ee5656;
  }
  .header__content-link:hover {
    color: #ee5656;
  }
}
@media (max-width: 48em) {
  .header {
    width: 100%;
    height: 16.1rem;
  }
  .header:has(~ main .archive) .header__content {
    height: 60rem;
  }
  .header:has(~ main .archive) .header__content-menu {
    padding-bottom: 6rem;
  }
  .header__content {
    width: 100%;
    height: 78rem;
    left: 0rem;
    top: -62rem;
  }
  .header__content.active {
    transform: translateY(78rem);
    left: 0;
  }
  .header__content-close {
    display: none;
  }
  .header__content-title {
    text-align: center;
  }
  .header__lang-switch {
    width: 100%;
    background-color: #1f1f1f;
    gap: 8rem;
    padding: 1.8rem 0;
    flex: 0 0 100%;
  }
  .header__lang-link {
    font-size: 2rem;
  }
  .header__nav-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .header__item {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
  }
  .header__item-text {
    display: none;
  }
  .header__item:nth-child(1) {
    padding-top: 0;
  }
  .header__item:nth-child(2) {
    padding-top: 0;
  }
  .header__item:nth-child(3) {
    padding-top: 0;
  }
  .header__item:nth-child(4) {
    padding-top: 0;
  }
  .header__item:nth-child(5) {
    padding-top: 0;
  }
}

.footer .container {
  width: 100%;
  background-color: #282828;
  padding: 0;
}
.footer__info {
  padding: 5.1rem 12rem;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}
.footer__text {
  color: #616571;
}
@media (max-width: 48em) {
  .footer__info {
    padding: 3.7rem 1.5rem;
    font-size: 1.6rem;
  }
}

.cards {
  display: grid;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.5rem;
}
.card__content {
  display: flex;
  flex-direction: column;
}
.card-wrap {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.card__picture {
  display: block;
}
.card__location {
  display: flex;
}
.card ol .card__list-item {
  display: list-item;
}
.card__header {
  font-weight: 700;
  font-size: 4rem;
}
.card__header-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card__header-title {
  text-transform: uppercase;
  font-size: 3.2rem;
}
.card__header-subtitle {
  font-weight: 500;
  font-size: 2rem;
}
.card__footer {
  display: flex;
}
.card__info {
  display: flex;
}
.card__btns {
  display: flex;
  justify-content: center;
}
.card__btn {
  font-weight: 400;
  font-size: 2rem;
}
.card__svg {
  stroke: #ee5656;
  fill: #ee5656;
  width: 3.3rem;
  height: 3.3rem;
}
.card__list {
  display: flex;
  flex-direction: column;
}
.card__list--ol {
  padding-left: 3rem;
}
.card__list-item {
  display: flex;
}
.card__list-icon {
  fill: #282828;
  stroke: #282828;
  flex-shrink: 0;
}
.card__list-picture {
  display: block;
}
@media (max-width: 48em) {
  .card__header {
    font-size: 3rem;
  }
  .card__text {
    font-size: 2rem;
  }
  .card__link {
    font-size: 2rem;
  }
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;
}
.pagination-selector {
  display: flex;
  align-items: center;
}
.pagination-wrap {
  padding: 0 3.7rem;
  border-radius: 1.5rem;
  background-color: #ecf1fb;
  display: flex;
  gap: 5rem;
  align-items: center;
}
.pagination-list {
  display: flex;
  gap: 6rem;
}
.pagination-item {
  font-weight: 700;
  font-size: 2.6rem;
}
.pagination-item.active {
  color: #ee5656;
}
.pagination-arrow {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #282828;
}
.pagination-arrow.active {
  stroke: #ee5656;
}

.selector__label {
  font-weight: 400;
  font-size: 2.6rem;
  padding-right: 2rem;
}
.selector__value {
  font-weight: 700;
  font-size: 2.6rem;
  transition: color 0.3s ease-in-out;
}
.selector-wrap {
  position: relative;
  width: 18rem;
  z-index: 10;
  cursor: pointer;
}
.selector-wrap.open .selector__box {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: border-radius 0s ease;
}
.selector-wrap.open .selector__value {
  color: #ee5656;
}
.selector-wrap.open .selector__arrow {
  transform: rotate(180deg);
}
.selector-wrap.open .selector__dropdown {
  max-height: 35rem;
  border-width: 0.2rem;
}
.selector__box {
  padding: 1.4rem 2rem;
  border: 0.2rem solid #d8e0f5;
  border-radius: 1.5rem;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: border-radius 0.4s ease 0.3s;
}
.selector__arrow {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.5rem solid #ee5656;
  transition: transform 0.3s ease-in-out;
}
.selector__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #FFF;
  border-radius: 0 0 1.5rem 1.5rem;
  margin-top: -0.2rem;
  border: 0 solid #d8e0f5;
  border-top: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), border-width 0.2s ease-out;
}
.selector__dropdown-button {
  font-weight: 700;
  font-size: 2.6rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding: 0.2rem;
}
.selector__dropdown-item {
  padding-left: 2rem;
}
.selector__dropdown-list {
  max-height: 34rem;
  overflow-y: auto;
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  padding-bottom: 1rem;
}
.selector__dropdown-list::-webkit-scrollbar {
  width: 1rem;
}
.selector__dropdown-list::-webkit-scrollbar-track {
  background: #d8e0f5;
  border-radius: 1.5rem;
  margin-bottom: 1.4rem;
}
.selector__dropdown-list::-webkit-scrollbar-thumb {
  background: #ee5656;
  border-radius: 1.5rem;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.selector__dropdown-list::-webkit-scrollbar-thumb:active {
  background: #fd5f5f;
}
@media (hover: hover) {
  .selector__dropdown-button:hover {
    color: #ee5656;
  }
  .selector__dropdown-list::-webkit-scrollbar-thumb:hover {
    background: #fd5f5f;
  }
  .selector__arrow:hover {
    border-top: 1.5rem solid #fd5f5f;
  }
}
@media (max-width: 48em) {
  .selector__label {
    padding-right: 0;
  }
}

.viewing {
  width: 25rem;
  padding: 7rem 0 0 4rem;
}
.viewing-wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.viewing__text {
  font-weight: 400;
  font-size: 2rem;
}
.viewing__number {
  font-weight: 700;
  font-size: 2rem;
}
.viewing__line {
  width: 100%;
  height: 0.3rem;
  background: linear-gradient(to right, #ee5656 0%, #ee5656 var(--progress), #d8e0f5 var(--progress), #d8e0f5 100%);
  border-radius: 10rem;
  transition: background 0.1s linear;
}
@media (max-width: 48em) {
  .viewing {
    padding: 3rem 0 0 1.5rem;
  }
}

.accordion__list {
  display: flex;
  flex-direction: column;
}
.accordion__list-item {
  padding-left: 3.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.accordion__list-item::before, .accordion__list-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1.2rem;
  width: 1.6rem;
  height: 0.3rem;
  background-color: #ee5656;
  border-radius: 0.3rem;
  transition: transform 0.4s ease;
}
.accordion__list-item::after {
  transform: rotate(90deg);
}
.accordion__list-item:has(.accordion-dropdown.open)::before {
  transform: rotate(45deg);
}
.accordion__list-item:has(.accordion-dropdown.open)::after {
  transform: rotate(135deg);
}
.accordion__trigger {
  cursor: pointer;
  font-weight: 600;
  font-size: 2.6rem;
}
.accordion-dropdown {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, max-height 0.4s ease-out, padding-top 0.4s ease-out;
}
.accordion-dropdown.open {
  padding-top: 2rem;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, max-height 0.4s ease-out, padding-top 0.4s ease-out;
}
.accordion-dropdown__list-item {
  display: flex;
  gap: 1rem;
}

.text {
  font-weight: 400;
  font-size: 2.6rem;
  transition: color 0.5s ease;
}
.text--bold {
  font-weight: 700;
}
.text p {
  padding-bottom: 3rem;
}
@media (max-width: 48em) {
  .text {
    font-size: 2rem;
  }
}

.svg {
  width: 3.5rem;
  height: 3.5rem;
  flex-shrink: 0;
  transition: fill 0.5s ease, stroke 0.5s ease;
}
.svg--small {
  width: 3.3rem;
  height: 3.3rem;
}
.svg--main {
  fill: #ee5656;
  stroke: #ee5656;
}
.svg--dark {
  fill: #282828;
  stroke: #282828;
}
.svg--white {
  fill: #FFF;
  stroke: #FFF;
}

.link {
  font-weight: 400;
  font-size: 2.6rem;
  text-decoration: underline;
  color: #ee5656;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.link--bold {
  font-weight: 700;
}

.title {
  font-weight: 700;
  font-size: 4rem;
}
.title--big {
  font-weight: 400;
  font-size: 96px;
  text-align: center;
  padding-bottom: 2rem;
}
@media (max-width: 48em) {
  .title {
    font-size: 3rem;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 2.6rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.list-item {
  display: flex;
  align-items: center;
}
.list-item--point {
  padding-left: 5.5rem;
  position: relative;
}
.list-item--point::before {
  content: "";
  left: 2.3rem;
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #ee5656;
}

.circle-picture {
  border-radius: 50%;
  display: block;
  overflow: hidden;
  width: 17rem;
  height: 17rem;
}
.circle-picture--small {
  width: 11rem;
  height: 11rem;
}
@media (max-width: 48em) {
  .circle-picture {
    width: 12rem;
    height: 12rem;
  }
}

.sources-list {
  font-weight: 400;
  font-size: 2.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.line--thin {
  width: 100%;
  height: 0;
  border: 0.1rem solid #d8e0f5;
  margin: 2rem 0 2rem;
}

.btn {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  transition: all 0.3s ease;
}
.btn--highlight {
  text-decoration: underline;
  text-decoration-style: dashed;
}
.btn--main {
  background-color: #ee5656;
  color: #FFF;
}
@media (hover: hover) {
  .btn--main:hover {
    background-color: #fd5f5f;
  }
}
.btn--gray {
  background-color: #d8e0f5;
  color: #282828;
}
@media (hover: hover) {
  .btn--gray:hover {
    background-color: #e2eaff;
  }
}
.btn--dark-gray {
  background-color: #3c3d41;
  color: #FFF;
}
@media (hover: hover) {
  .btn--dark-gray:hover {
    background-color: #484b53;
  }
}

.hero__bg {
  height: 75rem;
  background-image: url("../assets/img/header.png");
  background-size: cover;
}
.hero__bg::before {
  content: "";
  height: 75rem;
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.hero__bg.active::before {
  opacity: 1;
}
.hero__go-home {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.6rem;
  color: #d8e0f5;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-self: start;
}
.hero__go-home .hero__svg {
  width: 3rem;
  height: 3rem;
  stroke: #d8e0f5;
}
.hero__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 400;
  font-size: 2rem;
  color: #FFF;
  margin: 0;
}
.hero__svg {
  height: 3.5rem;
  width: 3.5rem;
}
.hero__info {
  box-sizing: border-box;
  padding: 8rem 49rem 9rem 16rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.hero__info-title {
  padding-bottom: 7rem;
}
.hero__info-title h1 {
  font-weight: 700;
  font-size: 6.4rem;
  color: #FFF;
}
.hero__info-subtitle {
  padding-bottom: 2rem;
}
.hero__info-subtitle h2 {
  color: #FFF;
  font-weight: 400;
  font-size: 2.6rem;
  text-transform: uppercase;
}
.hero__info-button {
  display: flex;
  gap: 2rem;
  font-weight: 700;
  font-size: 2rem;
}
.hero__info-button--small {
  height: 9rem;
  width: 32.7rem;
  gap: 2rem;
  text-transform: uppercase;
}
.hero__info-button--big {
  height: 9rem;
  width: 38.5rem;
  gap: 2rem;
  text-transform: uppercase;
}
@media (hover: hover) {
  .hero__go-home:hover {
    color: #ee5656;
  }
  .hero__go-home:hover .hero__svg {
    stroke: #ee5656;
  }
}
@media (max-width: 48em) {
  .hero__bg {
    height: 94rem;
    background-position: center;
  }
  .hero__bg::before {
    display: none;
  }
  .hero-article {
    overflow: hidden;
  }
  .hero-article .container {
    height: 94rem;
    background-image: url("../assets/img/article__background-mobile.png");
  }
  .hero-article .hero__info {
    padding: 20rem 1.5rem 10rem 1.5rem;
  }
  .hero-article .hero__info-title {
    padding-bottom: 3rem;
  }
  .hero-article .hero__info-title h1 {
    font-size: 3rem;
    text-align: center;
  }
  .hero-article .hero__info-subtitle h2 {
    font-size: 2rem;
    text-align: center;
  }
  .hero__go-home {
    align-self: center;
  }
  .hero__text {
    text-align: center;
    gap: 12.8rem;
    padding: 4rem 0 1rem 0;
  }
  .hero__header {
    align-items: center;
    font-size: 1.6rem;
  }
  .hero__info {
    padding: 20rem 1.5rem 10rem 1.5rem;
  }
  .hero__info-title {
    padding-bottom: 5rem;
  }
  .hero__info-title h1 {
    font-size: 4.8rem;
    text-align: center;
  }
  .hero__info-subtitle h2 {
    font-size: 2rem;
    text-align: center;
  }
  .hero__info-button {
    flex-direction: column;
    align-items: center;
  }
  .hero__info-button--small {
    height: 9rem;
    width: 33rem;
  }
  .hero__info-button--big {
    height: 9rem;
    width: 33rem;
  }
}

.archive .hero__bg {
  background-image: url("../assets/img/background/archive__background.png");
}
.archive .title {
  font-size: 3.2rem;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}
.archive .subtitle {
  font-weight: 500;
  font-size: 2rem;
  transition: color 0.3s ease-in-out;
}
.archive .cards {
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem 2rem;
}
.archive .card {
  background: linear-gradient(135deg, #e8f0ff 0%, #c8d1ea 100%);
  position: relative;
  transition: background 0.3s ease-in-out;
  height: 23rem;
  padding: 3.5rem 3rem 4rem;
}
.archive .card-wrap {
  position: relative;
}
.archive .card::before {
  content: "";
  position: absolute;
  right: 5rem;
  bottom: -1rem;
  width: 14rem;
  height: 21rem;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  pointer-events: none;
  transform: rotate(-15deg);
  border-radius: 1.5rem;
  transition: transform 0.5s ease-in-out;
}
.archive .card[data-bg-icon="icon-1.png"]::before {
  background-image: url("../assets/icons/archive/bg-image/icon-1.png");
}
.archive .card[data-bg-icon="icon-2.png"]::before {
  background-image: url("../assets/icons/archive/bg-image/icon-2.png");
}
.archive .card[data-bg-icon="icon-3.png"]::before {
  background-image: url("../assets/icons/archive/bg-image/icon-3.png");
}
.archive .card[data-bg-icon="icon-4.png"]::before {
  background-image: url("../assets/icons/archive/bg-image/icon-4.png");
}
.archive .card[data-bg-icon="icon-5.png"]::before {
  background-image: url("../assets/icons/archive/bg-image/icon-5.png");
}
.archive .card[data-bg-icon="icon-6.png"]::before {
  background-image: url("../assets/icons/archive/bg-image/icon-6.png");
}
.archive .card__svg {
  width: 3rem;
  height: 3rem;
}
.archive .card__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.archive .card__footer {
  gap: 2rem;
  align-items: center;
}
.archive .card__footer-text {
  font-weight: 700;
  font-size: 2rem;
  color: #ee5656;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}
.archive .card__footer-svg {
  transition: stroke 0.3s ease-in-out;
}
.archive .card__download {
  z-index: 2;
  position: absolute;
  right: 3rem;
  top: 3rem;
  width: 4.7rem;
  height: 4.7rem;
  transition: transform 0.3s ease-in-out;
}
.archive .card__download-svg {
  border-radius: 100%;
  width: 4.7rem;
  height: 4.7rem;
  background-color: #ee5656;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.archive .card__download-svg--arrow {
  width: 1rem;
  height: 1.4rem;
  stroke: #FFF;
  transition: stroke 0.3s ease-in-out;
}
.archive .card__download-svg--line {
  width: 1.9rem;
  height: 0.6rem;
  padding-bottom: 0.5rem;
  stroke: #FFF;
  transition: stroke 0.3s ease-in-out;
}
.archive .card__download-svg--pdf {
  width: 2.5rem;
  height: 1rem;
  fill: #FFF;
  transition: fill 0.3s ease-in-out;
}
@media (hover: hover) {
  .archive .card-wrap:hover .card {
    background: #ee5656;
  }
  .archive .card-wrap:hover .card::before {
    transform: rotate(15deg);
  }
  .archive .card-wrap:hover .card__footer-text,
  .archive .card-wrap:hover .title,
  .archive .card-wrap:hover .subtitle {
    color: #FFF;
  }
  .archive .card-wrap:hover .card__footer-svg {
    stroke: #FFF;
  }
  .archive .card-wrap:hover .card__download-svg {
    background-color: #FFF;
  }
  .archive .card-wrap:hover .card__download-svg--line {
    stroke: #ee5656;
  }
  .archive .card-wrap:hover .card__download-svg--arrow {
    stroke: #ee5656;
  }
  .archive .card-wrap:hover .card__download-svg--pdf {
    fill: #ee5656;
  }
  .archive .card-wrap__download:hover {
    transform: scale(1.2);
  }
  .archive .card-wrap__download:hover .card__download-svg--arrow {
    animation: bounceArrow 1s ease infinite;
  }
}
@media (max-width: 48em) {
  .archive .hero .container {
    height: 76rem;
  }
  .archive .hero__info {
    padding-bottom: 8rem;
  }
  .archive .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .archive__line {
    margin-bottom: 1rem;
  }
  .archive__line--second {
    display: none;
  }
  .archive__line--first {
    display: block;
  }
  .archive__pagination {
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 4rem;
  }
  .archive__pagination-selector {
    flex-direction: column;
    gap: 1rem;
  }
  .archive__pagination-item:nth-last-child(1), .archive__pagination-item:nth-last-child(2) {
    display: none;
  }
}

@keyframes bounceArrow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.3rem);
  }
}
.primary .cards {
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media (max-width: 48em) {
  .primary .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.primary .card {
  padding: 3rem;
  height: 18rem;
  position: relative;
  background-image: linear-gradient(135deg, #e8f0ff 0%, #c8d1ea 100%);
  transition: background 0.5s ease;
}
.primary .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: contain;
  mix-blend-mode: color-burn;
  z-index: 1;
  pointer-events: none;
}
.primary .card[data-bg-icon="icon-1.png"]::before {
  background-image: url("../assets/icons/background-card/icon-1.png");
}
.primary .card[data-bg-icon="icon-2.png"]::before {
  background-image: url("../assets/icons/background-card/icon-2.png");
}
.primary .card[data-bg-icon="icon-3.png"]::before {
  background-image: url("../assets/icons/background-card/icon-3.png");
}
.primary .card[data-bg-icon="icon-4.png"]::before {
  background-image: url("../assets/icons/background-card/icon-4.png");
}
.primary .card[data-bg-icon="icon-5.png"]::before {
  background-image: url("../assets/icons/background-card/icon-5.png");
}
.primary .card[data-bg-icon="icon-6.png"]::before {
  background-image: url("../assets/icons/background-card/icon-6.png");
}
@media (hover: hover) {
  .primary .card:hover {
    background: #ee5656;
  }
  .primary .card:hover .svg {
    stroke: #FFF;
    fill: #FFF;
  }
  .primary .card:hover::before {
    mix-blend-mode: overlay;
  }
  .primary .card:hover .text {
    color: #FFF;
  }
}
@media (max-width: 48em) {
  .primary .card {
    padding: 1.8rem 1.5rem;
    height: 17.9rem;
  }
}

.article .hero__bg {
  background-image: url("../assets/img/article__background.png");
}
.article .hero__info-title h1 {
  font-size: 4rem;
}
.article .cards {
  padding: 8rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.article .btn--highlight {
  color: #ee5656;
  font-weight: 400;
  font-size: 2.6rem;
}
.article .card {
  background-color: #FFF;
  padding: 5rem 4rem 6rem 4rem;
  gap: 3rem;
}
.article .card__btn {
  width: 22rem;
  height: 6rem;
  gap: 2rem;
  margin-top: 1rem;
}
.article .card__list {
  gap: 3rem;
}
.article .card__list--ol {
  overflow: hidden;
  transition: height 0.4s ease;
}
.article .card__list-item {
  gap: 2rem;
}
.article .card__list-icon {
  width: 3.5rem;
  height: 3.5rem;
}
.article .card__list-picture {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  overflow: hidden;
}
.article .card__info {
  gap: 1rem;
  flex-direction: column;
}
@media (max-width: 48em) {
  .article .card {
    padding: 4rem 1.5rem 5rem;
  }
}

.thematics .hero__bg {
  background-image: url("../assets/img/background/thematics__background.png");
}
.thematics .card {
  background-color: #FFF;
  padding: 5rem 4rem 3rem 4rem;
  gap: 3rem;
}
.thematics .card__text {
  padding-bottom: 3rem;
}
.thematics .card__list {
  padding-bottom: 3rem;
  gap: 1rem;
}
.thematics .card__list--ol {
  list-style: none;
  counter-reset: ol-counter;
}
.thematics .card__list--ol .card__list-item {
  counter-increment: ol-counter;
}
.thematics .card__list--ol .card__list-item::before {
  content: counter(ol-counter, decimal-leading-zero) ".";
  position: absolute;
  left: 0;
  font-weight: 500;
  font-size: 2.6rem;
}
.thematics .card__list-item {
  position: relative;
  align-items: center;
  padding-left: 5.5rem;
}
.thematics .card__list-item .card__text {
  padding-bottom: 0;
}
@media (max-width: 48em) {
  .thematics .card {
    padding: 4rem 1.5rem 5rem;
  }
  .thematics .card__header-title {
    font-size: 3rem;
  }
  .thematics .card__header-subtitle {
    font-size: 2rem;
  }
  .thematics .card__list--ol .card__list-item::before {
    font-size: 2rem;
  }
}

.editors .hero__bg {
  background-image: url("../assets/img/background/editors__background.png");
}
.editors .accordion {
  padding-top: 2rem;
}
@media (max-width: 48em) {
  .editors .accordion {
    padding-top: 3rem;
  }
}
.editors .circle-picture {
  position: absolute;
  left: 17rem;
}
@media (max-width: 48em) {
  .editors .circle-picture {
    position: relative;
    left: 0;
  }
}
.editors .card {
  padding: 5rem 4rem 6rem 25rem;
  background-color: #FFF;
  gap: 1rem;
}
.editors .card__header {
  display: flex;
}
.editors .card-wrap {
  padding-bottom: 8rem;
}
.editors .card-wrap:last-child {
  padding-bottom: 0;
}
.editors .card__location {
  gap: 1rem;
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 2rem;
}
.editors .card__svg {
  width: 1.5rem;
  height: 2rem;
}
.editors .card__link--bold {
  font-size: 4rem;
}
.editors .card__content {
  gap: 1rem;
}
@media (max-width: 48em) {
  .editors .card {
    padding: 4rem 1.5rem 5rem;
    flex-direction: column;
    gap: 2rem;
  }
  .editors .card__header {
    gap: 2rem;
    flex-direction: row;
  }
}
@media (hover: hover) {
  .editors .hero__info-button .btn:hover .svg {
    animation: bounceArrow 1s ease infinite;
  }
}

@keyframes bounceArrow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
}/*# sourceMappingURL=style.css.map */