@use '../abstracts/variable' as v;
@use '../abstracts/mixins' as m;

.text {
    font-weight: v.$font-weight-regular;
    font-size: 2.6rem;
    @include m.transition(color);

    &-wrap {
        padding-right: 6rem;
        position: relative;
        overflow: hidden;
    }

    &--bold {
        font-weight: v.$font-weight-bold;
    }

    p {
        padding-bottom: 3rem;
    }

    @include m.to('sm') {
        font-size: 2rem;
    }
}