@use '../abstracts/variable' as v;
@use '../abstracts/mixins' as m;

.title {
    font-weight: v.$font-weight-bold;
    font-size: 4rem;

    &--big {
        font-weight: v.$font-weight-regular;
        font-size: 9.6rem;
        text-align: center;
        padding-bottom: 2rem;
    }

    @include m.to('sm') {
        font-size: 3rem;
    }
}

.subtitle {
    font-weight: v.$font-weight-bold;
    font-size: 2.6rem;

    @include m.to('sm') {
        font-size: 2rem;
    }
}