@use '../abstracts/variable' as v;
@use '../abstracts/mixins' as m;

.viewing {
    width: 25rem;
    padding-top: 7rem;
    
    &-wrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
    }

    &__text{
        font-weight: v.$font-weight-regular;
        font-size: 2rem;
    }
    
    &__number{
        font-weight: v.$font-weight-bold;
        font-size: 2rem;
    }
    
    &__line {
        width: 100%;
        height: .3rem;
        background: linear-gradient(to right, v.$main 0%, v.$main var(--progress), v.$gray var(--progress), v.$gray 100%);
        border-radius: 10rem;
        transition: background 0.1s linear;
    }

    @include m.to('sm') {
        padding-top: 3rem;
    }
}