.archive {
    .hero {
        &__bg {
            background-image: url('../assets/img/background/archive__background.png');
        }
    }

    .title {
        font-size: 3.2rem;
        text-transform: uppercase;
        transition: color 0.3s ease-in-out;
    }

    .subtitle {
        font-weight: 500;
        font-size: 2rem;
        transition: color 0.3s ease-in-out;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem 2rem;
    }

    .card {
        background: linear-gradient(135deg, #e8f0ff 0%, #c8d1ea 100%);
        position: relative;
        transition: background 0.3s ease-in-out;
        height: 23rem;
        padding: 3.5rem 3rem 4rem;

        &-wrap {
            position: relative;
        }


        &::before {
            content: '';
            position: absolute;
            right: 5rem;
            bottom: -1rem;
            width: 14rem;
            height: 21rem;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 1;
            pointer-events: none;
            transform: rotate(-15deg);
            border-radius: 1.5rem;
            transition: transform 0.5s ease-in-out;
        }

        &[data-bg-icon="icon-1.png"]::before {
            background-image: url('../assets/icons/archive/bg-image/icon-1.png');
        }

        &[data-bg-icon="icon-2.png"]::before {
            background-image: url('../assets/icons/archive/bg-image/icon-2.png');
        }

        &[data-bg-icon="icon-3.png"]::before {
            background-image: url('../assets/icons/archive/bg-image/icon-3.png');
        }

        &[data-bg-icon="icon-4.png"]::before {
            background-image: url('../assets/icons/archive/bg-image/icon-4.png');
        }

        &[data-bg-icon="icon-5.png"]::before {
            background-image: url('../assets/icons/archive/bg-image/icon-5.png');
        }

        &[data-bg-icon="icon-6.png"]::before {
            background-image: url('../assets/icons/archive/bg-image/icon-6.png');
        }

        &__svg {
            width: 3rem;
            height: 3rem;
        }

        &__header {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &__download {
            z-index: 2;
            position: absolute;
            right: 3rem;
            top: 3rem;
        }

        &__footer {
            gap: 2rem;
            align-items: center;

            &-text {
                font-weight: 700;
                font-size: 2rem;
                color: $main;
                text-transform: uppercase;
                transition: color 0.3s ease-in-out;
            }

            &-svg {
                transition: stroke 0.3s ease-in-out;
            }
        }
    }

    @media (hover: hover) {
        .card-wrap {
            &:hover {
                .card {
                    background: $main;

                    &::before {
                        transform: rotate(15deg);
                    }
                }

                .card__footer-text,
                .title,
                .subtitle {
                    color: $white;
                }

                .card__footer-svg {
                    stroke: $white;
                }

                .card__download-svg {
                    background-color: $white;

                    &--line {
                        stroke: $main;
                    }

                    &--arrow {
                        stroke: $main;
                    }

                    &--pdf {
                        fill: $main;
                    }
                }
            }

            &__download {
                &:hover {
                    transform: scale(1.2);

                    .card__download-svg--arrow {
                        animation: bounceArrow 1s ease infinite;
                    }
                }
            }
        }
    }

    @media (max-width: 48em) {
        .hero {
            .container {
                height: 76rem;
            }

            &__info {
                padding-bottom: 8rem;
            }
        }

        .cards {
            grid-template-columns: repeat(1, 1fr);
        }

        &__line {
            margin-bottom: 1rem;

            &--second {
                display: none;
            }

            &--first {
                display: block;
            }
        }

        &__pagination {
            flex-direction: column;
            gap: 1rem;
            padding-bottom: 4rem;

            &-selector {
                flex-direction: column;
                gap: 1rem;
            }

            &-item {

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    display: none;
                }
            }
        }
    }
}