.article {
    .hero {
        &__bg {
            background-image: url('../assets/img/background/article__background.png');
        }

        &__info {
            &-subtitle {
                padding-bottom: 2rem;
            }

            &-title {
                padding-bottom: 7rem;

                h1 {
                    font-size: 4rem;
                    font-weight: 700;
                }
            }

            &-button {
                &--big {
                    width: 34rem;
                }

                &--small {
                    width: 31.5rem;
                }
            }
        }
    }

    .btn {
        &--highlight {
            color: $main;
            font-weight: 400;
            font-size: 2.6rem;

            text-transform: none;
        }

        &-wrap {
            padding-top: 1rem;
        }
    }

    .cards {
        gap: 5rem;
    }

    .list {
        gap: 3rem;

        &:has(.circle-picture) {
            gap: 3.4rem;
        }

        &-item {
            gap: 2rem;

            &:has(.circle-picture) {
                align-items: start;
            }
        }
    }

    .download-svg {
        background-color: transparent;
        &--arrow {
            width: 1.4rem;
            height: 1.9rem;
        }

        &--line {
            width: 2.6rem;
            height: .8rem;
        }
    }

    #keywords {
        .list {
            gap: 2rem;
        }
    }

    #copy-card {
        .btn {
            width: 23.7rem;
            height: 6rem;
            font-weight: 400;
            font-size: 2rem;
            gap: 2rem;
            text-transform: none;
        }
    }

    .text {
        p {
            padding-bottom: 2.6rem;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .circle-picture {
        margin-right: 3rem;
    }

    .viewing {
        padding: 5rem 0 0 4rem;
    }

    .card {
        background-color: $white;
        padding: 5rem 4rem 6rem 4rem;
        gap: 3rem;

        &__content {
            gap: 1rem;
        }
    }

    @media (hover: hover) {
        .hero__info-button--big:hover {
            .download-svg--arrow {
                animation: bounceArrow 1s ease infinite;
            }
        }
    }

    @media(max-width: 48em) {
        .hero {
            &__info {
                &-title {
                    padding-bottom: 3rem;

                    h1 {
                        font-size: 3rem;
                    }
                }

                &-button {
                    &--big {
                        width: 33rem;
                    }

                    &--small {
                        width: 33rem;
                    }
                }
            }
        }

        .cards {
            gap: 4rem;
        }

        .card {
            padding: 4rem 1.5rem 5rem;
        }

        .circle-picture {
            margin-right: 0;
        }

        .list:has(.circle-picture) {
            gap: 3rem;
        }

        .btn--highlight {
            font-size: 2rem;
        }

        .viewing {
            padding: 3rem 0 0 1.5rem;
        }
    }
}