.primary {
    .hero {
        &__bg {
            background-image: url('../assets/img/header.png');
        }

        &__info {
            padding: 7rem 48rem 9rem 16rem;

            &-subtitle {
                text-transform: uppercase;
            }

            &-title {
                h1 {
                    line-height: 100%;
                }
            }
        }
    }

    .cards {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        @media (max-width: 48em) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .card {
        padding: 3rem;
        height: 18rem;
        position: relative;
        background-image: linear-gradient(135deg, #e8f0ff 0%, #c8d1ea 100%);
        transition: background $transition;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-repeat: no-repeat;
            background-size: contain;
            mix-blend-mode: color-burn;
            z-index: 1;
            pointer-events: none;
            transition: mix-blend-mode $transition;
        }

        &[data-bg-icon="icon-1.png"]::before {
            background-image: url('../assets/icons/background-card/icon-1.png');
        }

        &[data-bg-icon="icon-2.png"]::before {
            background-image: url('../assets/icons/background-card/icon-2.png');
        }

        &[data-bg-icon="icon-3.png"]::before {
            background-image: url('../assets/icons/background-card/icon-3.png');
        }

        &[data-bg-icon="icon-4.png"]::before {
            background-image: url('../assets/icons/background-card/icon-4.png');
        }

        &[data-bg-icon="icon-5.png"]::before {
            background-image: url('../assets/icons/background-card/icon-5.png');
        }

        &[data-bg-icon="icon-6.png"]::before {
            background-image: url('../assets/icons/background-card/icon-6.png');
        }

        @media(hover: hover) {
            &:hover {
                background: $main;

                .svg {
                    stroke: $white;
                    fill: $white;
                }

                &::before {
                    mix-blend-mode: overlay;
                }

                .text {
                    color: $white;
                }
            }
        }
    }

    @media (max-width: 48em) {
        .hero {
            &__info {
                padding: 20rem 1.5rem 10rem;

                &-subtitle {
                    h2 {
                        line-height: 150%;
                    }
                }
            }
        }

        .card {
            padding: 1.75rem 1.5rem;
        }
    }
}