.thematics {
    .hero {
        &__bg {
            background-image: url('../assets/img/background/thematics__background.png');
        }
    }

    .card {
        background-color: $white;
        padding: 5rem 4rem 3rem 4rem;
        gap: 3rem;

        &__text {
            padding-bottom: 3rem;
        }

        &__list {
            padding-bottom: 3rem;
            gap: 1rem;

            &--ol {
                list-style: none;
                counter-reset: ol-counter;

                .card__list-item {
                    counter-increment: ol-counter;

                    &::before {
                        content: counter(ol-counter, decimal-leading-zero) ".";
                        position: absolute;
                        left: 0;
                        font-weight: 500;
                        font-size: 2.6rem;
                    }
                }
            }

            &-item {
                position: relative;
                align-items: center;
                padding-left: 5.5rem;

                .card__text {
                    padding-bottom: 0;
                }
            }
        }

        @media (max-width: 48em) {
            padding: 4rem 1.5rem 5rem;
            &__header{
                &-title{
                    font-size: 3rem;
                }
                &-subtitle{
                    font-size: 2rem;
                }
            }
            &__list{
                &--ol{
                    .card__list-item {
                        &::before{
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}