@use '../variable';

.thematics {
    .hero {
        &__bg {
            background-image: url('../assets/img/background/thematics__background.png');
        }

        &__info {
            &-title {
                padding-bottom: 7rem;

                h1 {
                    font-weight: 700;
                }
            }

            &-subtitle {
                padding-bottom: 2rem;
            }

            &-button {
                &--small {
                    width: 23.5rem;
                }
            }
        }
    }

    ol.list {
        list-style: none;
        counter-reset: ol-counter;

        .list-item {
            counter-increment: ol-counter;
            position: relative;
            padding-left: 5.5rem;

            &::before {
                content: counter(ol-counter, decimal-leading-zero) ".";
                position: absolute;
                top: 0;
                left: .5rem;
                font-weight: 500;
                font-size: 2.6rem;
            }
        }
    }

    .card {
        background-color: variable.$white;
        padding: 5rem 4rem 3rem 4rem;
        gap: 3rem;
    }

    @media (hover: hover) {
        .hero {
            .btn:hover {
                .svg {
                    animation: bounceArrow 1s ease infinite;
                }
            }
        }
    }

    @media (max-width: 48em) {
        .hero {
            &__bg {
                height: 76rem;
            }

            &__info {
                padding: 20rem 1.5rem 8rem;

                &-title {
                    padding-bottom: 3rem;
                }
            }
        }

        .card {
            padding: 4rem 1.5rem 5rem;
        }

        ol.list {
            .list-item {
                &::before {
                    left: 1.5rem;
                    font-size: 2rem;
                }
            }
        }
    }
}